behaviors:
  Ranger:
    trainer_type: ppo
    hyperparameters:
      batch_size: 2024
      buffer_size: 20240
      learning_rate: 0.0003
      beta: 0.005
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
      learning_rate_schedule: linear
    network_settings:
      normalize: true
      hidden_units: 512
      num_layers: 3
      vis_encode_type: simple
      memory:
        memory_size: 256
        sequence_length: 128
    reward_signals:
      gail:
        gamma: 0.99
        strength: 1.0
        network_settings:
          normalize: true
          hidden_units: 128
          num_layers: 2
          vis_encode_type: simple
        learning_rate: 0.0003
        use_actions: false
        use_vail: false
        demo_path: ../Assets/Resources/Demonstrations
    keep_checkpoints: 20
    max_steps: 2000000
    time_horizon: 2048
    summary_freq: 4096
    behavioral_cloning:
      demo_path: ../Assets/Resources/Demonstrations
      steps: 2000
      strength: 0.5
      samples_per_update: 0
